/* -----------------------------------------
        게시판 스타일시트: board.css
----------------------------------------- */

.board {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* 글 목록 */
.board table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

.board th,
.board td {
    border: 1px solid #ddd;
}

.board th,
.board td {
    width: 100px;
    padding: 12px;
    text-align: center;
}

.board th {
    background-color: #eee;
    font-weight: bold;
}

.board th:nth-child(1) {
    width: 10%;
}

.board th:nth-child(2) {
    width: 55%;
}

.board th:nth-child(3) {
    width: 10%;
}

.board th:nth-child(4) {
    width: 15%;
}

.board th:nth-child(5) {
    width: 10%;
}

.board td:nth-child(2) {
    text-align: left;
}

.board a {
    color: #3498db;
    text-decoration: none;
}

.board a:hover {
    text-decoration: underline;
}

/* 검색 */
.board-header {
    display: flex;
    justify-content: right;
    align-items: center;
}

.board-header form {
    display: flex;
    gap: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    max-width: 400px;
}

#search_btn {
    margin: 0;
    padding: 10px 15px;
    border-radius: 0;
    color: #3498db;
    background: none;
}

/* 글 작성 버튼 */
.board-header button {
    flex-shrink: 0;
    margin: 0;
}

.board-button-bundle {
    padding-top: 20px;
    margin-bottom: 15px;
    justify-content: center;
    display: flex;
    gap: 10px;
}

/* 페이지네이션 */
.board-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a,
.pagination span {
    margin: 0 5px;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    color: #3498db;
    background-color: #ffff;
    border: 1px solid #ccc;
    transition: background-color .3s ease;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination .current-page {
    background-color: #3498db;
    color: white;
    border: 1px solid #3498db;
    transition: background-color .3s ease;
}

.pagination .page-link {
    text-decoration: none;
}

.pagination .page-link[disabled],
.pagination .page-link.disabled {
    color: #ccc;
    background-color: #f4f4f4;
    cursor: not-allowed;
}

.total-count {
    font-size: 18px;
    font-weight: bold;
}

.search-box form {
    display: flex;
    align-items: center;
}

.search-field {
    padding: 8px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-word {
    border: none;
}

/* 글 쓰기 */
.write {
    background-color: white;
    padding: 20px;
}

.write h3 {
    text-align: center;
}

.write form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.input-title-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.input-content-wrapper {
    padding: 12px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.input-content-wrapper .attached-files {
    text-align: right;
    padding: 5px 21px;
}

.write select {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.write input[type="text"],
.write textarea {
    flex: 1;
    border: none;
    box-sizing: border-box;
}

.write textarea {
    resize: none;
    min-height: 200px;
    max-height: 400px;
}

/* 글 상세 보기 */
.view {
    background-color: white;
    padding: 20px;
}

.board-info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #555;
    padding: 10px;
}

.board-author,
.board-date,
.board-views {
    display: inline-block;
}

.board-content-wrapper {
    padding: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.board-content-title-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.board-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.board-content p {
    white-space: pre-line;
}