#todo {
    overflow-y: scroll;
}

.todo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    width: 100%;
}

.todo-card {
    width: 400px;
    height: 250px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todo-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.todo-card strong {
    font-size: 1.2em;
    color: #000000;
}

.todo-description {
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
}

/* 모달 스타일 */
.modal {
    display: none; /* 모달 숨김 */
    position: fixed;
    top: 50%; /* 화면 중앙을 기준으로 위치 */
    left: 50%; /* 화면 중앙을 기준으로 위치 */
    transform: translate(-50%, -50%); /* 중앙 정렬을 위한 변환 */
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0); 
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    height: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 모달 버튼 2개 박스 */
.modal-buttons {
    display: flex;
    justify-content: space-between; /* 버튼 사이 간격 유지 */
    gap: 10px; /* 버튼 간격 */
    padding: 10px;
}

/* 저장 버튼 스타일 */
.save-btn {
    width: 100px;
    padding: 10px;
    background-color: #408ed6; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-btn:hover {
    background-color: #368bdb; 
}

/* 취소 버튼 스타일 */
.cancel-btn {
    width: 100px;
    padding: 10px;
    background-color: #e4e1e0;
    color: rgb(3, 3, 3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-btn:hover {
    background-color: #bebdbd; 
}
/*포스트 + 버튼 */
#addTodoBtn {
    width: 400px;
    height: 220px;
    background-color: #f9f9f9; /* 배경색 설정 */
    border: 2px dashed #ccc; /* 테두리 스타일: 점선 */
    display: flex;
    justify-content: center; /* 버튼 안에서 수평 가운데 정렬 */
    align-items: center; /* 버튼 안에서 수직 가운데 정렬 */
    font-size: 48px; /* + 기호 크기 */
    color: #aaa; /* + 기호 색상 (기본: 회색) */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    transition: color 0.3s ease; /* 색상 변경 시 부드럽게 전환 */
    border-radius: 8px; /* 모서리를 둥글게 */
    margin-top:20px;
}

#addTodoBtn:hover {
color: #585a58; /* 마우스를 올렸을 때 + 기호 색상 변경 (초록색) */
border-color: #6c746d; /* 마우스를 올렸을 때 테두리 색상 변경 */
}