
/* 테이블 스타일 */
.board-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background: white;
}

.board-table, .board-table th, .board-table td {
    border: 1px solid #ddd;
}

.board-table th, .board-table td {
	width:100px;
    padding: 12px;
    text-align: center;
}

.board-table th {
    background-color: #eee;
    font-weight: bold;
}
/* 번호 */
.board-table th:nth-child(1) {
    width: 10%;
}

/* 제목 */
.board-table th:nth-child(2) {
    width: 40%;
}

/* 작성자 */
.board-table th:nth-child(3) {
    width: 15%;
}

/* 작성일 */
.board-table th:nth-child(4) {
    width: 15%;
}

/* 조회수  */
.board-table th:nth-child(5) {
    width: 10%;
}

.board-table a {
    color: #3498db;
    text-decoration: none;
}

.board-table a:hover {
    text-decoration: underline;
}

/* 버튼 스타일 */
button, input[type="submit"] {
    background-color: #408ed6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
}

button:hover, input[type="submit"]:hover {
    background-color: #66a7e3;
}


/* 검색 컨테이너 스타일 */
.search-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 10px;
}

.total-count {
    font-size: 18px;
    font-weight: bold;
}

.search-box form {
    display: flex;
    align-items: center;
}

.search-field, .search-word {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.search-btn {
    padding: 10px 20px;
    margin: 5px;
    
}

/* 반응형  */
@media (max-width: 768px) {
    .wrap {
        padding: 15px;
    }

    .board-table, .board-table th, .board-table td {
        font-size: 14px;
    }

    button, input[type="submit"] {
        padding: 8px 16px;
        font-size: 12px;
    }

    .search-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-box {
        margin-top: 10px;
    }
}

/* 글 쓰기 스타일 */
#write-container {
    background-color: white;
    padding: 20px;
}

#write-container form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

#write-container input[type="text"],
#write-container textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

#write-container textarea {
    resize: none;
    height: 150px;
}

#write-container input[type="submit"],
#write-container input[type="reset"],
#write-container input[type="button"] {
    background-color: #408ed6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

#write-container input[type="submit"]:hover,
#write-container input[type="reset"]:hover,
#write-container input[type="button"]:hover {
    background-color: #66a7e3;
}

.write-button-bundle {
    justify-content: right;
    display: flex;
    gap: 10px;
}

/* 반응형 */
@media (max-width: 768px) {
    #write-container {
        padding: 15px;
    }

    #write-container input[type="text"],
    #write-container textarea {
        font-size: 12px;
        padding: 10px;
    }

    #write-container input[type="submit"],
    #write-container input[type="reset"],
    #write-container input[type="button"] {
        padding: 8px 16px;
        font-size: 12px;
    }
}
