/* -----------------------------------------
        공유 스타일시트 common.css
----------------------------------------- */

/* 스크롤바 스타일 통일 */
* ::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
}

* ::-webkit-scrollbar-track {
    background-color: #fff; 
}

* ::-webkit-scrollbar-thumb {
    background-color: #bbb; 
    border-radius: 8px;
    border: none;
}

* ::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}


/* 버튼 스타일 통일 */
button, 
input[type="submit"],
input[type="reset"],
input[type="button"] {
    background-color: var(--btn-color);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color .3s ease;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    background-color: #66a7e3;
}

input[type="file"] {
    max-width: 19%;
    background-color: white;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    padding: 5px 12px;
    margin-right: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

input[type="file"]::file-selector-button::before {
    content: "\f055";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    margin-right: 8px;
}

input[type="file"]::file-selector-button:hover {
    background-color: #e6e6e6;
}

input[type="file"]::file-selector-button:focus {
    outline: none;
    border-color: #bbb;
}


/* 목록 테이블 공통 스타일 */
.table-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

.list-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-list-section {
    position: relative;
    overflow-y: auto;
    padding-right: 5px;
    text-align: center;
}

.table-common {
	border-collapse: separate;
	border-spacing: 0;
    width: 100%;
    table-layout: fixed;
    background-color: white;
    border-top: 1px solid #ddd;
}

.table-common thead {
    background-color: white;
    position: sticky;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    top: 0;
    font-weight: bold;
    z-index: 1;
}

.table-common thead tr {
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
}

.table-common th {
    position: relative;
}

.table-common th, 
.table-common td {
    padding: 5px 10px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    overflow-x: hidden;
}

.table-common th:first-child, 
.table-common td:first-child { border-left: none; }
.table-common th:last-child, 
.table-common td:last-child { border-right: none; }

.table-common tbody tr:nth-child(odd) { background-color: #f9f9f9; }
.table-common tbody tr:nth-child(even) { background-color: #fff; }

.table-common input[type="text"],
.table-common input[type="number"],
.table-common input[type="email"],
.table-common input[type="date"] {
    width: 100%;
    background: none;
    border: none;
    text-align: right;
}

.table-common select {
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    background: none;
}

.table-common-resize-handle {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    cursor: col-resize;
    background-color: transparent;
}

.table-common-resize-handle:hover {
    background-color: #ccc;
}

/* 선택이 필요한 경우 호버시 이펙트 주고 커서 변경 */
.table-select-list tbody tr { cursor: pointer; }
.table-select-list tbody tr:hover { background-color: #e6e6e6; }
.table-select-list tbody tr.active { background-color: #e6e6e6; }

/* 메인페이지 섹션들 */
#main-wrapper {
    display: flex;
    height: calc(100% - 60px);
    flex: 1;
}

main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
    position: relative;
    background: #e7e7e7;
}

/* 섹션 배경색과 기본 여백 */
section {
    padding: 1em;
    height: 100%;
}

/* 플렉스 박스 필요한 섹션 공통 */
.section-common {
    display: flex;
    gap: 1em;
}

.section-common h4 {
    text-align: left;
}

/* 색상 레퍼런스 */
:root {
    --btn-color: #408ed6;
    --btn-color-hover: #66a7e3;

    --funfun-midnight: #1E3E62;
    --funfun-blue-dark: #3078bb;
    --funfun-blue: #2e8de5;
    --funfun-blue-medium: #5AB2FF;
    --funfun-blue-light: #A0DEFF;
    --funfun-blue-active: #66a7e3;
    --funfun-white: #F8F8F8;

    --blue-light: #CAF4FF;
}

/* 애니메이션 레퍼런스 */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
