
/* 테이블 스타일 */
.board-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.board-table, .board-table th, .board-table td {
    border: 1px solid #ddd;
}

.board-table th, .board-table td {
	width:100px;
    padding: 12px;
    text-align: center;
}

.board-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
/* 번호 */
.board-table th:nth-child(1) {
    width: 10%;
}

/* 제목 */
.board-table th:nth-child(2) {
    width: 40%;
}

/* 작성자 */
.board-table th:nth-child(3) {
    width: 15%;
}

/* 작성일 */
.board-table th:nth-child(4) {
    width: 15%;
}

/* 조회수  */
.board-table th:nth-child(5) {
    width: 10%;
}


.board-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.board-table a {
    color: #3498db;
    text-decoration: none;
}

.board-table a:hover {
    text-decoration: underline;
}

/* 버튼 스타일 */
button, input[type="submit"] {
    background-color: #0056b3;
    color: #0056b3;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
}

button:hover, input[type="submit"]:hover {
    background-color: #2980b9;
}


/* 검색 컨테이너 스타일 */
.search-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
}

.total-count {
    font-size: 18px;
    font-weight: bold;
}

.search-box form {
    display: flex;
    align-items: center;
}

.search-field, .search-word {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.search-btn {
    padding: 10px 20px;
    margin: 5px;
    
}

/* 반응형  */
@media (max-width: 768px) {
    .wrap {
        padding: 15px;
    }

    .board-table, .board-table th, .board-table td {
        font-size: 14px;
    }

    button, input[type="submit"] {
        padding: 8px 16px;
        font-size: 12px;
    }

    .search-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-box {
        margin-top: 10px;
    }
    .paging{
}
}
