/* ------------------------------------------
    재무관리 페이지 스타일시트: financial.css
------------------------------------------- */

/* 사원 목록 섹션 */
.employees-details-section {
    flex-shrink: 0;
    overflow-y: auto;
    padding-right: 5px;
}

.salary-button-bundle {
    padding-top: 10px;
    justify-content: right;
    display: flex;
    gap: 10px;
}