<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.web.mapper.CalendarMapper">

    <!-- 일정 등록 -->
    <insert id="addTask" parameterType="com.human.web.vo.CalendarVO">
        INSERT INTO calendar_tasks (e_idx, task_date, task_description, created_at)
        VALUES (#{e_idx}, #{task_date}, #{task_description}, NOW())
    </insert>

    <!-- 일정 조회 -->
    <select id="getTask" parameterType="int" resultType="com.human.web.vo.CalendarVO">
        SELECT *
        FROM calendar_tasks
        WHERE e_idx = #{e_idx}
        ORDER BY task_date DESC
    </select>
    
    <!-- 일정 삭제 -->
    <delete id="deleteTask">
        DELETE FROM calendar_tasks
        WHERE e_idx = #{e_idx} AND task_date = #{task_date}
    </delete>

    <!-- 일정 수정 -->
    <update id="updateTask" parameterType="com.human.web.vo.CalendarVO">
        UPDATE calendar_tasks
        SET task_description = #{task_description}
        WHERE e_idx = #{e_idx} AND task_date = #{task_date}
    </update>
    
</mapper>