<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.human.web.mapper.CustomersMapper">
	

   <insert id="addCustomer" parameterType="com.human.web.vo.CustomersVO">
   	INSERT INTO customers 
   		( company_name, c_name, phone_num, i_num, trans_type, product_name, usetime, req_content) 
   		VALUES 
   		( #{company_name}, #{c_name},  #{phone_num}, #{i_num}, #{trans_type}, #{product_name}, #{usetime},
   		  #{req_content} )
   </insert>
   
   <!-- ID로 고객 정보 조회 -->
    <select id="getCustomerById" parameterType="int" resultType="com.human.web.vo.CustomersVO">
        SELECT * FROM customers WHERE c_idx = #{c_idx}
    </select>

    <!-- 모든 고객 조회 -->
    <select id="getAllCustomers" resultType="com.human.web.vo.CustomersVO">
        SELECT * FROM customers
    </select>

    <!-- 고객 정보 수정 -->
    <update id="updateCustomer" parameterType="com.human.web.vo.CustomersVO">
        UPDATE customers 
        SET name = #{name}, company_name = #{companyName}, product_name = #{productName} 
        WHERE c_idx = #{c_idx}
    </update>

    <!-- 고객 정보 삭제 -->
    <delete id="deleteCustomer" parameterType="int">
        DELETE FROM customers WHERE c_idx = #{c_idx}
    </delete>

	
</mapper>	
