<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.human.web.mapper.FinancialMapper">


    <!-- 특정 사원의 급여 정보 조회 -->
    <select id="getFinancialInfo" parameterType="int" resultType="com.human.web.vo.FinancialVO">
        SELECT * 
        FROM emp_financial 
        WHERE e_idx = #{e_idx}
    </select>

    <!-- 급여 정보 추가 -->
    <insert id="insertFinancialInfo" parameterType="com.human.web.vo.FinancialVO">
        INSERT INTO emp_financial (
            e_idx, base_salary, position_allowance, tenure_allowance, fixed_allowance, 
            daily_attendance_allowance, meal_allowance, overtime_allowance, night_allowance, 
            extended_work_allowance, project_bonus, performance_bonus, team_bonus, 
            work_performance_bonus, income_tax, national_pension, health_insurance, 
            employment_insurance, long_term_care, other_deductions, 
            bank_name, account_number, account_holder
        ) VALUES (
            #{e_idx}, #{baseSalary}, #{positionAllowance}, #{tenureAllowance}, #{fixedAllowance}, 
            #{dailyAttendanceAllowance}, #{mealAllowance}, #{overtimeAllowance}, #{nightAllowance}, 
            #{extendedWorkAllowance}, #{projectBonus}, #{performanceBonus}, #{teamBonus}, 
            #{workPerformanceBonus}, #{incomeTax}, #{nationalPension}, #{healthInsurance}, 
            #{employmentInsurance}, #{longTermCare}, #{otherDeductions}, 
            #{bankName}, #{accountNumber}, #{accountHolder}
        )
    </insert>

    <!-- 급여 정보 업데이트 -->
    <update id="updateFinancialInfo" parameterType="com.human.web.vo.FinancialVO">
        UPDATE emp_financial
        SET base_salary = #{baseSalary}, position_allowance = #{positionAllowance}, 
            tenure_allowance = #{tenureAllowance}, fixed_allowance = #{fixedAllowance}, 
            daily_attendance_allowance = #{dailyAttendanceAllowance}, meal_allowance = #{mealAllowance}, 
            overtime_allowance = #{overtimeAllowance}, night_allowance = #{nightAllowance}, 
            extended_work_allowance = #{extendedWorkAllowance}, project_bonus = #{projectBonus}, 
            performance_bonus = #{performanceBonus}, team_bonus = #{teamBonus}, 
            work_performance_bonus = #{workPerformanceBonus}, income_tax = #{incomeTax}, 
            national_pension = #{nationalPension}, health_insurance = #{healthInsurance}, 
            employment_insurance = #{employmentInsurance}, long_term_care = #{longTermCare}, 
            other_deductions = #{otherDeductions}, bank_name = #{bankName}, 
            account_number = #{accountNumber}, account_holder = #{accountHolder}
        WHERE e_idx = #{e_idx}
    </update>
    
</mapper>