<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.web.mapper.HelpMapper">

<!-- 문의 등록-->
    <insert id="insertHelp" parameterType="com.human.web.vo.HelpVO">
        INSERT INTO help (e_idx, product, service, help_detail)
        VALUES ( #{e_idx}, #{product}, #{service}, #{help_detail})
    </insert>

</mapper>
