<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.web.mapper.HelpMapper">

    <!-- 문의 등록-->
    <insert id="insertHelp" parameterType="com.human.web.vo.HelpVO">
        INSERT INTO help (e_idx, product, service, help_detail)
        VALUES ( #{e_idx}, #{product}, #{service}, #{help_detail})
    </insert>

    <!-- 모든 문의 사항 조회 -->
    <select id="getAllHelps" resultType="map">
        SELECT h.e_idx, h.help_id, h.product, h.service, e.name
        FROM help h
        JOIN employees e ON h.e_idx = e.e_idx
    </select>

    <!-- 특정 문의 상세 조회 -->
    <select id="getHelpDetail" parameterType="int" resultType="com.human.web.vo.HelpVO">
        SELECT * FROM help WHERE help_id = #{helpId}
    </select>

    <!-- 문의 삭제 (처리 완료) -->
    <delete id="deleteHelp" parameterType="int">
        DELETE FROM help WHERE e_idx = #{helpId}
    </delete>

</mapper>
