<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.human.web.mapper.NoticeMapper">
	<!-- namespace: XML 파일에서 내용의 구분을 위해서 사용 -->

	<!-- 글등록 -->
	<insert id="insertNotice" parameterType="boardVO">
	
		insert into board (e_idx, title, content, type, category)
			values (#{e_idx}, #{title}, #{content}, 'notice', #{category})
	
	</insert>

    <!-- 타입에 따른 글 목록 조회 -->
	<select id="getNoticeList" resultType="boardVO" parameterType="map">
        select b.*, e.name
        from board b
        join employees e on b.e_idx = e.e_idx
        where b.status = 'N'
          and b.type = 'notice'

        <choose>
            <when test="searchWord != null">
                <!-- 검색어가 있는 경우 -->
                <choose>
                    <when test="searchField == 'title'">
                        and b.title like CONCAT('%', #{searchWord}, '%')
                    </when>
                    <when test="searchField == 'writer'">
                        and e.name like CONCAT('%', #{searchWord}, '%')
                    </when>
                    <otherwise>
                        and b.content like CONCAT('%', #{searchWord}, '%')
                    </otherwise>
                </choose>
            </when>
        </choose>

        order by b.b_idx desc
        limit #{startNum}, 10
    </select>

	<!-- 게시글 조회 -->
	<select id="getBoard" parameterType="_int" resultType="boardVO">
	
		select b.*, e.name
        from board b
        join employees e on b.e_idx = e.e_idx
		where b_idx = #{b_idx}
	
	</select>
	
	<!-- 조회수 증가시키기 -->
	<update id="updateReadCount" parameterType="_int">
	
		update board set read_cnt = read_cnt+1 
			where b_idx=#{b_idx}
	
	</update>
	
	<!-- 글수정 -->
	<update id="updateBoard" parameterType="boardVO">
	
		update board set b_title=#{b_title}, 
						    b_content=#{b_content},
			                update_date = now() 
			  where b_idx = #{b_idx}
	
	</update>
	
	<!-- 글삭제 -->
	<update id="deleteBoard" parameterType="_int">
		update board set status='Y', update_date = now() 
			where b_idx = #{b_idx}
	</update>
	
    <!-- 게시글 테이블에서 번호 최고값 얻기 -->
    <select id="getMax_bidx" resultType="_int">
    	select max(b_idx) from board
    </select>

    <!-- 첨부파일 목록 조회 -->
    <select id="getAttachedList" parameterType="_int" resultType="baVO">

    	select * from board_attached
    		where b_idx = #{b_idx}
    
    </select>

    <!-- 첨부파일 등록 -->
    <insert id="insertAttached" parameterType="baVO">

    	insert into board_attached (origin_filename, save_filename, b_idx)
    		values (#{origin_filename},#{save_filename},#{b_idx})
    
    </insert>
	
</mapper>	
